[Mesh]
  [./gmg]
    type = GeneratedMeshGenerator
    dim = 3
    nx = $0$
    ny = $1$
    nz = $2$
    xmin = $3$
    xmax = $4$
    yim = $5$
    ymax = $6$
    zmin = $7$
    zmax = $8$
    block_id = $9$
    block_name = $10$
  [../]

  [./subdomains]
    type = ElementSubdomainIDGenerator
    input = gmg
    subdomain_ids = '$11$'
  [../]
[]
